---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{siteConfig.name} - {siteConfig.title}</title>
  </head>
  <body>
    <Header />
    <section>
      <Hero />
      <div class="max-w-3xl mx-auto p-8 grid gap-4 sm:grid-cols-2">
        <a class="underline" href="/about">About • Education • Skills • Contact</a>
        <a class="underline" href="/experience">Experience</a>
        <a class="underline" href="/projects">Projects</a>
      </div>
    </section>
    <Footer />
  </body>
</html>
