---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import * as cfg from "../config";
import "../styles/global.css";

const siteConfig = (cfg?.siteConfig ?? (cfg as any)?.default ?? cfg) as any;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteConfig.description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <title>{siteConfig.name} - {siteConfig.title}</title>
  </head>
  <body>
    <Header />
    <section>
      <Hero />
      <div class="max-w-3xl mx-auto p-8 grid gap-4 sm:grid-cols-2">
        <a class="underline" href="/about">About • Education • Skills • Contact</a>
        <a class="underline" href="/experience">Experience</a>
        <a class="underline" href="/projects">Projects</a>
      </div>

      <script is:inline>
        const map = {
          '#about': '/about#about',
          '#education': '/about#education',
          '#skills': '/about#about',
          '#contact': '/about#contact',
          '#experience': '/experience',
          '#projects': '/projects'
        };
        const t = map[window.location.hash];
        if (t) window.location.replace(t);
      </script>
    </section>
    <Footer />
  </body>
</html>
